<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/customers" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <!-- Customer Details -->
      <form #customerDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label> First Name</mat-label>
              <input required type="text" matInput [(ngModel)]="customer.firstName" [formControl]="firstName" id="firstName" name="firstName">
              <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input required type="text" matInput [(ngModel)]="customer.lastName" [formControl]="lastName" name="lastName">
              <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input required type="text" matInput [(ngModel)]="customer.email" [formControl]="email" name="email">
              <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea required matInput [(ngModel)]="customer.homeAddress" name="homeAddress"></textarea>
              <mat-error>Address is a required field</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input type="number" minlength="10" matInput [(ngModel)]="customer.phoneNumber.mobile" name="mobile">
              <mat-error>Mobile has invalid length</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label> Home Phone</mat-label>
              <input type="number" matInput [(ngModel)]="customer.phoneNumber.homePhone" name="homephone">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Work Phone</mat-label>
              <input type="number" matInput [(ngModel)]="customer.phoneNumber.workPhone" name="workphone">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewCustomer">
              <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
              <button mat-raised-button color="warn" (click)="openConfirmationDialog()">Delete</button>
            </div>
            <div class="row between-xs" *ngIf="isNewCustomer">
              <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <!--Empty Div-->
    </div>
  </div>
</div>
